html{
    box-sizing:border-box;
  
  }
  *,*::before,*::after{
      box-sizing: inherit;
  }
  body{
    background-color: #f2edc5;
    width: 1260px;
    height: 1000px;
    margin:0 auto;
    font-family:Arial;
}
.container{
    margin: 0 auto;
    width:1260px;
    height:880px;
}
header{
    height: 128px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top:50px;
    margin-bottom: 12px;
   
}
.line{
    width: 1200px;
    height: 1px;
    background-color:rgba(87, 48, 24,0.801);
}
.btn_box{
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    color: #778A50;
    border-radius: 3px;
    border:solid 1px #778A50;
    background-color: #EDF2C5;
}
.title1{
   
    height: 36px;
    margin-bottom:50px;
    font-size: 44px;
    font-weight: 900;
    color: black;
  }
.logo{
    width:100px;
    height: 100px;
}
h1{
    font-size: 44px;
    font-weight: 600;
    font-family: 'Arial';
    text-align:center;
    color: rgb(87, 48, 24,0.801);
}
nav{
    margin-bottom: 20px;
    margin-left:20px;
    display: flex;
    border-radius: 3px;
    gap: 30px;
    justify-content: center;
}
.nav-word{
    font-size: 20px;
    font-weight: 400;
    line-height: 44px;
    color: rgba(87, 48, 24,0.801);
    text-decoration:none;
    background-color: #f2edc5;
    /*border:2px solid rgba(87, 48, 24,0.801);
    border-radius: 3px;*/
}
.nav-word:hover{
    font-size: 25px;
    font-weight: 600;
    line-height: 44px;
    color: #d6d6d6;
    text-decoration:none;
}

.cloth-img{
    width:500px;
    height: 380px;
    display: flex;
    flex-direction: row;
    gap:95px;
    margin-left: 163px;
}
h4{
    margin-left: 10px;
    
}
.socail{
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 62px;
    font-family:Helvetica;
    margin-left: 200px;
}
footer{
    background-color: rgba(87, 48, 24, 0.801);
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #EDF2C5;
    font-size: 12px;
    margin-top: 750px;

}
